<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о министре</title>
    {% extends "base.html" %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel = "stylesheet" type="text/css" href="{% static 'css/show_info.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
{% block content %}
<div class="card">
  <div class="ds-top"></div>
  <div class="avatar-holder">
    <img src="https://www.gravatar.com/avatar/%7B%7B link_img }}?s=100&d=retro" alt="Albert Einstein">
  </div>
  <div class="name">
    {{ minister.first_name }} {{ minister.last_name }}
  </div>
  <div class="ds-info">
    <div class="ds pens">
        <i class="bi bi-clipboard-check-fill"></i><h6 title="Number of pens created by the user">Кол-во реформ</h6>
      <p>3</p>
    </div>
    <div class="ds projects">
      <i class="bi bi-people-fill"></i><h6 title="Number of pens created by the user">Отдел</h6>
      <p>{{ minister.department.number }}</p>
    </div>
      <div class="ds posts">
      <i class="bi bi-calendar2-heart-fill"></i><h6 title="Number of pens created by the user">Дата рождения</h6>
      <p>{{ minister.date_birth }}</p>
    </div>
  </div>
    <table class="table ds-skill" style="color: #fff">
          <thead>
            <tr>
              <th scope="col">Номер реформы</th>
              <th scope="col">Начальник</th>
              <th scope="col">Бюджет</th>
              <th scope="col">Сроки</th>
            </tr>
          </thead>
          <tbody>
                {% for reform in reforms %}
                    {% if reform.budget > 1000000 %}
                        <tr class="table-success">
                    {% elif reform.budget <= 1000000 %}
                        <tr class="table-danger">
                    {% else %}
                        <tr>
                    {% endif %}
                            <th scope="row">{{ reform.number }}</th>
                            <td>{{ reform.boss }}</td>
                            <td>{{ reform.budget }}</td>
                            <td>{{ reform.deadline }}</td>
                        </tr>
                {% endfor %}
          </tbody>
        </table>
</div>
{% endblock %}
</body>
</html>